body {
    background-color: #000;
    background-image: url('/img/me-at-reject.jpg');
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: top right;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
#root {
    width: 550px;
    float: right;
    color: white;
    padding: 1em;
    margin-right: 1em;
}

h1 {
    color: white;
    font-family: sans-serif;
    font-size: 5em;
    text-shadow: 0px 0px 4px;
    margin-bottom: 0;
}
p, nav {
    font-size: 1.8em;
    text-shadow: 0 0 0;
    line-height: 1.3em;
    margin-left: 0;
    margin-right: 0;
}
a {
    text-shadow: 0 0 0;
    color: #FF1493;
    text-decoration: none;
}
nav a {
    padding-right: 1em;
}

@media (max-width:1200px) {
    body {
        background-size: auto;
    }
}

@media (max-width:930px) {
    body {
        background-position: center top;
    }
    #root {
        width: 90%;
        float: none;
        margin-right: auto;
        margin-left: auto;
        background: rgba(0,0,0,0.3);
    }
    h1 {
        text-shadow: 0 0 0;
        margin-top: 0;
        margin-bottom: 0;
        padding: 0.2em;
        padding: 0;
        font-size: 14.5vw;
    }
}

@media (max-width: 555px) {
    nav a {
        display: block;
    }
}
