[submodule "games/pong"]
	path = games/pong
	url = https://github.com/DanReeves/pong.git
[submodule "games/asteroids"]
	path = games/asteroids
	url = https://github.com/DanReeves/asteroids.git
[submodule "games/games/platformer"]
	path = games/games/platformer
	url = https://github.com/DanReeves/platformer.git
[submodule "games/platformer"]
	path = games/platformer
	url = https://github.com/DanReeves/platformer.git
[submodule "games/ld30"]
	path = games/ld30
	url = https://github.com/DanReeves/LD30.git
