:root {
  --color: black;
  --highl: deeppink;
  --backg: white;

  --code-bg: floralwhite;
  --code-fg: darkcyan;
}

html, body {
  font-family: "argentpixel";
  box-sizing: border-box;
  font-size: 1.45rem;
  text-transform: lowercase;
  font-style: italic;
  position: relative;
  background: var(--backg);
  color: var(--color);
}

@media (max-width: 700px) {
  body {
	font-size: 1rem;
  }
}

*, *:before, *:after {
  box-sizing: border-box;
  font-family: inherit;
  font-weight: inherit;
  margin: 0;
  padding: 0;
}

body {
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
  max-width: 700px;
  width: 90%;
}

.cool-img {
  display: block;
  image-rendering: pixelated;
  width: 100%;
  margin-bottom: 0.75em;
}

h1,h2,h3,h4,h5,h6 {
  margin-bottom: 0.75em;
}

p {
  margin-bottom: 0.75em;
}

header {
  margin-bottom: 0.75rem;
}

footer {
  margin-top: 0.75rem;
}

ol {
  padding-left: 1.5ch;
  margin: 0;
  padding-left: calc(1rem + 1ch);
}

ul {
  list-style: none;
  padding-left: 0.75rem;
  margin: 0;
}

ul li:before {
  content: "•";
  position: relative;
  right: calc(0.75rem / 2);
}


a {
  color: var(--highl);
  text-decoration: none;
  border-bottom: 2px solid var(--highl);
}

nav {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

abbr[data-title] {
  border-bottom: 2px solid var(--color);
}

abbr[data-title]:hover:after {
  content: attr(data-title);
  position: absolute;
  border: 2px solid var(--color);
  padding: 0.5rem;
  padding-top: 0;
  background: var(--backg);
  transition: 1s;
}

pre {
  font-family: 'VT323', monospace;
  line-height: .8rem;
  font-size: .8rem;
  font-style: normal;
  font-weight: normal;
}

.home h1 {
  position: absolute;
  top: 0;
  color: lavenderblush;
  padding-left: 0.75rem;
}

.writing-list li {
  margin-bottom: 0.75rem;
}

.article {
  text-transform: initial;
  font-size: 1rem;
  letter-spacing: -.25;
}

.article h1,
.article h2,
.article h3,
.article h4,
.article h5,
.article h6 {
  text-transform: lowercase;
}

.writing-list blockquote,
.article p {
  line-height: 1.5;
  margin-bottom: 1em;
  font-weight: normal;
}

.article img {
  max-width: 100%;
}

.article ul,
.article ol {
  font-weight: normal;
  margin-bottom: 1em;
}

.article li {
  line-height: 1.5;
}

.article pre {
  font-size: 1rem;
  font-weight: normal;
  font-family: 'VT323', monospace;
  display: block;
  max-width: 100%;
  overflow-x: scroll;
  background: var(--code-bg);
  padding: 1rem;
  margin-bottom: 1em;
  line-height: 1;
  border-radius: 2px;
  color: var(--code-fg);
}

.article code {
  font-size: 1rem;
  font-weight: normal;
  font-family: 'VT323', monospace;
}

.article strong {
  font-weight: bold;
}

.article hr {
  border-width: 2px;
  border-style: double;
  margin-bottom: 1em;
}

.article blockquote {
  border-left: 0.5ch double lightgrey;
  padding: 0.5ch;
  margin-bottom: 1em;
  color: dimgray;
}

.article blockquote p {
  font-size: 1rem;
  line-height: 1.75;
  margin-bottom: 0;
  font-family: Georgia,Times,Times New Roman,serif;
  font-style: italic;
}

.article .published-at {
  display: block;
  margin-bottom: 1em;
}

.albums {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
}

.album {
  position: relative;
  width: 50%;
  flex-grow: 1;
  justify-content: space-between;
}

.album:not(:only-child) {
  margin-bottom: 0.5rem;
}

.album:nth-child(odd):not(:only-child) {
  padding-right: 0.25rem;
}

.album:nth-child(even):not(:only-child) {
  padding-left: 0.25rem;
}

.album:last-child:not(:nth-child(even)) {
  padding: 0;
}

.album a {
  display: block;
  border-bottom: 0;
}

.album a img,
.album a canvas {
  width: 100%;
  image-rendering: pixelated;
  border: 2px solid var(--highl);
  margin-bottom: 0;
}

.album a span {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  font-size: 2rem;
}

.album-img {
  width: 100%;
  margin-bottom: 0.75rem;
}

.album-img.expanded {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  object-fit: contain;
  max-width: 95%;
  max-height: 95%;
}

.album-img-cover {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  object-fit: contain;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(5px);
}
