html, body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  box-sizing: border-box;
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: lowercase;
}

*, *:before, *:after {
  box-sizing: inherit;
  font-family: inherit;
  font-weight: inherit;
  margin: 0;
  padding: 0;
}

h1,h2,h3,h4,h5,h6 {
  margin-bottom: 0.75em;
}

body {
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
  max-width: 700px;
}

p {
  margin-bottom: 0.75em;
}

header {
  margin-bottom: 2rem;
}

footer {
  margin-top: 2rem;
}

ol, ul {
  margin-left: 1.2rem;
}

ul {
  list-style-type: square;
}

a {
  display: inline-block;
  color: deeppink;
  text-decoration: underline;
  cursor: url(/dds.cur), auto;
}

nav a {
  font-size: 2rem;
}

.anchor {
  display: none;
}

.article .anchor {
  display: inline;
}

.anchor {
  background: none !important;
  border: none;
  text-align: center;
}

.anchor:after {
  content: '>';
  display: inline-block;
}

pre {
  font-family: 'VT323', monospace;
  line-height: .8rem;
  font-size: .8rem;
}

.home-link {
  float: left;
  line-height: 3rem;
  text-decoration: none;
  font-size: 2rem;
  margin-right: 0.5ch;
}

.writing-list {
  list-style-type: none;
  margin-top: 1.5rem;
  margin-left: 0;
}

.writing-list li {
  margin-bottom: 1rem;
}

.writing-list time,
.writing-list a {
  display: block;
}

.writing-list a:before {
  content: '>';
  display: inline-block;
  padding-right: .5rem;
}


.article {
  text-transform: initial;
}

.article h1,
.article h2,
.article h3,
.article h4,
.article h5,
.article h6 {
  text-transform: lowercase;
}

.writing-list blockquote,
.article p {
  line-height: 1.5;
  margin-bottom: 1em;
  font-weight: normal;
}

.article img {
  max-width: 100%;
}

.article ul,
.article ol {
  font-weight: normal;
  margin-bottom: 1em;
}

.article li {
  line-height: 1.5;
}

.article pre {
  font-size: 1rem;
  font-weight: normal;
  font-family: 'VT323', monospace;
  display: block;
  max-width: 100%;
  overflow: scroll;
  background: lightgrey;
  padding: 1rem;
  margin-bottom: 1em;
  line-height: 1;
}

.article code {
  font-size: 1rem;
  font-weight: normal;
  font-family: 'VT323', monospace;
}

.article strong {
  font-weight: bold;
}

.article hr {
  border-width: 2px;
  border-style: solid;
  margin-bottom: 1em;
}

.article blockquote {
  border-left: 0.5ch solid lightgrey;
  padding: 0.5ch;
  margin-bottom: 1em;
  color: dimgray;
}

.article blockquote p {
  font-size: 1rem;
  line-height: 1.75;
  margin-bottom: 0;
  font-family: Georgia,Times,Times New Roman,serif;
  font-style: italic;
}

.article .published-at {
    display: block;
    margin-bottom: 1em;
}
