html, body {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  box-sizing: border-box;
  font-weight: 900;
  font-size: 1.25rem;
}

*, *:before, *:after {
  box-sizing: inherit;
  font-family: inherit;
  font-weight: inherit;
  margin: 0;
  padding: 0;
}

h1,h2,h3,h4,h5,h6 {
  margin-bottom: 0.75em;
}

body {
  margin: 5vh 5vw;
  max-width: 800px;
}

p {
  margin-bottom: 0.75em;
}

footer {
  margin-top: 2rem;
}

ol, ul {
    margin-left: 1.2rem;
}

ul {
    list-style-type: square;
}

a {
  color: deeppink;
}

.g {
  color: limegreen;
}

.b {
  color: dodgerblue;
}

pre {
  font-family: monospace;
}

.home-link {
    float: left;
    line-height: 3rem;
    text-decoration: none;
    font-size: 2rem;
    margin-right: 0.5ch;
}

.writing-list {
  list-style-type: none;
  margin-top: 1.5rem;
  margin-left: 0;
}

.writing-list li {
  margin-bottom: 1rem;
}

.writing-list blockquote {
    margin-left: 1.2rem;
}

.article h1 a:after,
.article h2 a:after,
.article h3 a:after,
.article h4 a:after,
.article h5 a:after,
.article h6 a:after {
    content: '\21AC';
    display: inline-block;
    margin-right: 0.5ch;
}

.writing-list blockquote,
.article p {
  font-weight: normal;
  font-family: Baskerville, Baskerville Old Face, Hoefler Text, Garamond, Times New Roman, serif;
  line-height: 1.5;
  margin-bottom: 1em;
}

.article img {
  max-width: 100%;
}

.article ul,
.article ol {
  font-weight: normal;
  font-family: Baskerville, Baskerville Old Face, Hoefler Text, Garamond, Times New Roman, serif;
  margin-bottom: 1em;
}

.article li {
  line-height: 1.5;
}

.article pre {
  font-size: 1rem;
  font-weight: normal;
  font-family: monaco, Consolas, Lucida Console, monospace;
  display: block;
  max-width: 100%;
  overflow: scroll;
  background: lightgrey;
  padding: 1rem;
  margin-bottom: 1em;
}

.article code {
  font-size: 1rem;
  font-weight: normal;
  font-family: monaco, Consolas, Lucida Console, monospace;
}

.article strong {
  font-weight: bold;
}

.article hr {
  border-width: .5px;
  border-style: solid;
  margin-bottom: 0.75rem;
}

.article blockquote {
  border-left: 0.5ch solid lightgrey;
  padding: 0.5ch;
  margin-bottom: 1em;
  color: dimgray;
}

.article blockquote p {
  font-size: 0.9em;
  line-height: 1;
  margin-bottom: 0;
}
