html, body {
  font-family: 'Work Sans', sans-serif;
  box-sizing: border-box;
  font-size: 1.111rem;
}

*, *:before, *:after {
  box-sizing: inherit;
  font-family: inherit;
  font-weight: inherit;
  margin: 0;
  padding: 0;
}

h1,h2,h3,h4,h5,h6 {
  margin-bottom: 0.75em;
}

body {
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
  max-width: 700px;
}

p {
  margin-bottom: 0.75em;
}

header {
  margin-bottom: 2rem;
}

footer {
  margin-top: 2rem;
}

ol, ul {
    margin-left: 1.2rem;
}

ul {
    list-style-type: square;
}

a, .fake-link {
  display: inline-block;
  color: #3e3c30;
  text-decoration: none;
  background: deeppink;
  font-weight: bold;
  font-family: Impact;
  color: white;
  padding: .25rem;
  margin: .1rem;
  font-size: 1.5rem;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  border: 1px solid black;
}

a.color-2, .fake-link.color-2 {
  background: limegreen;
}

a.color-3, .fake-link.color-3 {
  background: dodgerblue;
}

.fake-link {
  cursor: url(/static/dds.cur), auto;
}

h1.fake-link {
  font-size: 3rem;
}

.anchor {
  display: none;
}

.article .anchor {
  display: inline;
}

.anchor {
  background: none !important;
  border: none;
  text-align: center;
}

.anchor:after {
    content: '\21AC';
    display: inline-block;
}

.g { color: limegreen; font-weight: 900; }
.b { color: dodgerblue; font-weight: 900; }

pre {
  font-family: 'VT323', monospace;
  line-height: .8rem;
}

.home-link {
    float: left;
    line-height: 3rem;
    text-decoration: none;
    font-size: 2rem;
    margin-right: 0.5ch;
}

.writing-list {
  list-style-type: none;
  margin-top: 1.5rem;
  margin-left: 0;
}

.writing-list li {
  margin-bottom: 1rem;
}

.writing-list blockquote {
    margin-left: 1.2rem;
}

.writing-list blockquote,
.article p {
  line-height: 1.5;
  margin-bottom: 1em;
}

.article img {
  max-width: 100%;
}

.article ul,
.article ol {
  font-weight: normal;
  margin-bottom: 1em;
}

.article li {
  line-height: 1.5;
}

.article pre {
  font-size: 1rem;
  font-weight: normal;
  font-family: 'VT323', monospace;
  display: block;
  max-width: 100%;
  overflow: scroll;
  background: lightgrey;
  padding: 1rem;
  margin-bottom: 1em;
  line-height: 1;
}

.article code {
  font-size: 1rem;
  font-weight: normal;
  font-family: 'VT323', monospace;
}

.article strong {
  font-weight: bold;
}

.article hr {
  border-width: .5px;
  border-style: solid;
  margin-bottom: 0.75rem;
}

.article blockquote {
  border-left: 0.5ch solid lightgrey;
  padding: 0.5ch;
  margin-bottom: 1em;
  color: dimgray;
}

.article blockquote p {
  font-size: 0.9em;
  line-height: 1;
  margin-bottom: 0;
}

.article .published-at {
  display: inline-block;
  margin-bottom: 1rem;
}
