@import url(https://fonts.bunny.net/css?family=rubik:400|rubik-bubbles:400);

* {
	box-sizing: border-box;
}

:root {
	--fg: #333;
	--bg: white;
	--accent: #c58fff;
}

/* @media (prefers-color-scheme: dark) { */
/* 	:root { */
/* 		--fg: #ddd; */
/* 		--bg: #111; */
/* 		--accent: lightgreen; */
/* 	} */
/* } */

@media (prefers-reduced-motion) {
	* { animation: none !important; }
}

html {
	font-size: 1.5rem;
	font-family: 'Rubik', system-ui, sans-serif;
	line-height: 1.5;
	font-smooth: never;
	-webkit-font-smoothing: none;
	background: var(--bg);
	color: var(--fg);
	filter: blur(.3px);
}

body {
	width: 50ch;
	max-width: 90%;
	margin-left: auto;
	margin-right: auto;
	filter: url('#squiggly-0');
	animation: squiggly-anim .34s linear infinite;
}

h1,h2,h3,h4,h5,h6{
	font-weight: 900;
	color: var(--accent);
	font-family: 'Rubik Bubbles', system-ui, sans-serif;
}

header {
	position: relative;
	padding-bottom: .5em;
	border-bottom: var(--accent) .25em solid;
	font-family: 'Rubik Bubbles';
}

nav {
	font-weight: 900;
	display: flex;
	justify-content: space-around;
}

a {
	text-decoration: none;
	border-bottom: .15em solid var(--accent);
	color: var(--fg);
}

nav a {
	border-bottom: .15em solid transparent;
	color: var(--accent);
}

nav a.active {
	border-bottom: .15em solid var(--accent);
}

@keyframes wave {
	0% {
		top: 0em;
	}
	100% {
		top: -.1em;
	}
}

.wave {
	position: relative;
	animation: wave 0.5s steps(3, end) infinite alternate;
}

.wave-hover-parent:hover .wave-hover {
	position: relative;
	animation: wave 0.5s steps(3, end) infinite alternate;
}

.avatar {
	height: 50px;
	width: 50px;
	position: absolute;
	bottom: 1em;
	right: 1em;
}

.box {
	display: block;
	width: 45%;
	padding: 2.5%;
	margin: 2.5%;
	position: relative;
	background: var(--accent);
	color: white;
	font-family: 'Rubik Bubbles';
}

.box.left {
	float: left;
}

.box.right {
	float: right;
}

footer {
	font-family: 'Rubik Bubbles';
	clear: both;
	text-align: center;
	margin-top: 1em;
	margin-bottom: 1em;
	opacity: 0.3;
}

@keyframes squiggly-anim {
	0% {
		filter: url('#squiggly-0');
	}
	25%{
		filter: url('#squiggly-1');
	}
	50%{
		filter: url('#squiggly-2');
	}
	75%{
		filter: url('#squiggly-3');
	}
	100% {
		filter: url('#squiggly-4');
	}
}

