* {
	box-sizing: border-box;
}

:root {
	--fg: #333;
	--bg: #fff;
	/* --accent: #c58fff; */
	/* --accent2: #DCFF02; */
}

/* @media (prefers-color-scheme: dark) { */
/* 	:root { */
/* 		--fg: #ddd; */
/* 		--bg: #111; */
/* 		--accent: lightgreen; */
/* 	} */
/* } */

@media (prefers-reduced-motion) {
	* { animation: none !important; }
}

html {
	font-size: 2.5rem;
	font-family: "felt-tip-woman", system-ui, sans-serif;
	line-height: 1.1;
	background: var(--bg);
	color: var(--fg);
	filter: blur(.3px);
}

body {
	width: 50ch;
	max-width: 60%;
	margin-left: auto;
	margin-right: auto;
	filter: url('#squiggly-0');
	animation: squiggly-anim .34s linear infinite;
}

h1,h2,h3,h4,h5,h6{
	font-weight: 900;
	color: var(--accent);
	font-family: "felt-tip-woman", system-ui, sans-serif;
}

header {
	position: relative;
	padding-bottom: .5em;
	border-bottom: var(--accent) .25em solid;
	font-family: "felt-tip-woman";
}

nav {
	font-weight: 900;
	display: flex;
	justify-content: space-around;
}

a {
	color: var(--fg);
	text-decoration: none;
}

nav a {
	color: var(--accent);
}

nav a.active {
	border-bottom: .15em solid var(--accent);
}

@keyframes wave {
	0% {
		top: 0em;
	}
	100% {
		top: -.1em;
	}
}

.wave {
	position: relative;
	animation: wave 0.5s steps(3, end) infinite alternate;
}

.wave-hover-parent:hover .wave-hover {
	position: relative;
	animation: wave 0.5s steps(3, end) infinite alternate;
}

.hello {
	display: flex;
	flex-direction: column;
	place-items: center;
	gap: 10px;
}

.avatar {
	height: 100px;
	width: 100px;
	/* position: absolute; */
	/* top: 100px; */
	/* right: 100px; */
    /* border-radius: 12px; */
	border-radius: 100%;
    transform: rotate(2deg);
}

.box {
	display: block;
	padding: 1em;
}

footer {
	font-family: "felt-tip-woman";
	clear: both;
	text-align: center;
	margin-top: 1em;
	margin-bottom: 1em;
	opacity: .5;
}

.writing-list li {
	margin-bottom: .5em;
}
