{% extends 'default.html' %}
{% set page = 'index' %}

{% block body %}
<div class="ls">
    <h1>Software Cornwall visualisations</h1>
    <ul>
        <li>
            <h2><a href="/softwarecornwall/roadtrip">Roadtrip</a></h2>
            <a href="/softwarecornwall/roadtrip">
                <img src="/assets/img/roadtrip.png" />
            </a>
        </li>
        <li>
            <h2><a href="/softwarecornwall/cluster">Cluster</a></h2>
            <a href="/softwarecornwall/cluster">
                <img src="/assets/img/cluster.jpg" />
            </a>
        </li>
    </ul>
</div>
{% endblock %}
