.index {
    // height: 100%;
    // width: 100%;
    nav {
        position: absolute;
        top: 0;
        left: 0;
        padding: 0.25em;
    }
}
.ls {
    font-size: 0.75em;

    width: 500px;
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    img {
        max-height: 200px;
        max-width: 100%;
    }
}
