
// Layout

.header,
.content,
.footer {
    width: 85%;
    max-width: 750px;
    margin-left: auto;
    margin-right: auto;
}

.header {
    margin-top: 2.5em;
}

.footer {
    padding-top: 2em;
    margin-bottom: 3em;
}

img {
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

// Typography

h1, h2, h3, h4, h5, h6 {
    color: darken(#543, 15%);
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
}
h2 {
    font-size: 3em;
    line-height: 1em;
    letter-spacing: -2px;
}
h3 {
    font-size: 2em;
}
h4 {
    font-size: 1.5em;
}
h5 {
    font-size: 1.25em;
}
h6 {
    font-size: 1.2em;
}
hr {
    border: none;
    border-bottom: 1px solid #543;
}

.meta {
    font-size: 0.8em;
    margin-top: -2em;
    font-style: italic;
}

.avatar {
    width: 128px;
    float: right;
    border-radius: 50%;
}

.post-list {
    padding: 0;
    list-style: none;
    p.title {
        font-family: 'Roboto', sans-serif;
        font-size: 1.5em;
        color: darken(#543, 15%);
        letter-spacing: -1px;
        font-weight: 900;
        a {
            text-decoration: none;
        }
    }
    p.meta {
        font-size: 0.8em;
        font-weight: 300;
        color: #544;
        line-height: 1.5em;
        margin-top: -1.5em;
    }
}

.footer {
    font-size: 0.8em;
}
h1 a {
    text-decoration: none;
    letter-spacing: -2px;
}
nav {
    font-size: 0.8em;
    .fa {
    color: darken(#543, 15%);
        margin-right: 0.2em;
    }
    ul {
        padding: 0;
    }
    li {
        display: inline-block;
        margin-right: 1em;
    }
    a {
        text-decoration: none;
    }
    a:hover {
        text-decoration: underline;
    }
}

.article-footer {
    font-size: 0.8em;
    a {
        text-decoration: none;
        display: inline-block;
        margin-right: 1em;
    }
    a:hover {
        text-decoration: underline;
    }
    .fa {
        color: darken(#543, 15%);
        margin-right: 0.25em;
    }
}

.fourohfour {
    position: relative;
    &-title {
        position: absolute;
        color: white;
        text-shadow: 1px 1px 1px #000;
        font-size: 3.4em;
        padding: 0.6em;
        bottom: 0;
        margin:0;
    }
}

@media (max-width: 400px) {
    .avatar {
        width: 112px;
    }
}
