/* Layout
************************************/
header,
main,
footer {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

.header,
.content,
.footer {
    max-width: 960px;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #bebebe;
    padding: 2em;
    background: #FFF;
    -webkit-box-shadow: 3px 3px 3px rgba(0,0,0,0.2);
    -moz-box-shadow: 3px 3px 3px rgba(0,0,0,0.2);
    box-shadow: 3px 3px 3px rgba(0,0,0,0.2);
}
.header {
    border-bottom: none;
    border-radius: 3px 3px 0 0;
    margin-top: 3em;
}
.content {
    border-top: none;
    border-bottom: none;
    padding-top: 0;
}
.footer {
    border-top: none;
    border-radius: 0 0 3px 3px;
    margin-bottom: 3em;
}

/* Design
************************************/

header a,
header a:visited,
header label {
    text-decoration: none;
    color: #353535;
}

header a:hover,
header a:focus,
header label:hover {
    text-decoration: underline;
}

h1 {
    font-weight: 900;
    font-size: 4em;
    line-height: 0.9em;
    letter-spacing: -4px;
    margin: 0 0 0.5em 0;
}

nav {
    margin: 0;
    padding: 0;
}

nav ul {
    margin: 0;
    padding: 0;
}

nav li {
    list-style-type: none;
    display: inline-block;
    margin-right: 2em;
}

header .icon {
    margin-right: 5px;
    text-decoration: none;
}

nav,
header label {
    display: inline-block;
}

header label {
    float: right;
    margin-right: 25px;
}

main p {
    text-align: justify;
}

h2 {
    font-weight: 100;
    font-size: 3em;
    line-height: 1em;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0.83em;
    letter-spacing: -3px;
}
h2 a, h2 a:visited {
    color: #353535;
}
h3 {
    font-weight: 400;
    font-size: 2em;
    line-height: 1em;
}
h4 {
    font-size: 1.5em;
    font-weight: 400;
    line-height: 1em;
}
h5,
h6 {
    font-size: 1.2em;
    font-weight: 400;
    line-height: 1em;
    margin: 1em 0;
}

hr {
    border: none;
    margin: 0;
    padding: 0;
    height: 0;
    width: 100%;
    margin-top: 2.5em;
    border-bottom: 1px solid #eaeaea;
}

.tags {
    margin: 0;
    padding: 0;
    display: inline-block;
}

.tags li {
    display: inline-block;
    margin-right: 5px;
}

article .tags {
    font-size: 0.9em;
    margin-top: 0.5em;
}

.tags-block {
    background: #eaeaea;
    margin-top: 39px;
    padding: 1em;
    text-align: left;
}

.tags-block p {
    margin-bottom: 0;
}

.meta {
    display: inline-block;
    text-align: left;
    font-size: 0.9em;
    margin-top: 0.5em;
    margin-right: 0.25em;
}

pre code {
    display: block;
    background: #eaeaea;
    padding: 1em ;
}

.article-footer {
    margin-top: 39px;
}

.article-footer a,
.article-footer a:visited {
    text-decoration: none;
    margin-right: 1em;
    display: inline-block;
}
.article-footer a:hover,
.article-footer a:focus {
    text-decoration: underline;
}
.article-footer .icon {
    margin-right: 0.25em;
    text-decoration: none;
}

.img {
    width: 100%;
    padding: 1em;
    background: #eaeaea;
}

.img img {
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #aeaeae
}

.pagination {
    padding-top: 1em;
    text-align: center;
}

.post-list {
    list-style-type: none;
}
.post-list p {
    margin: 0;
}
.post-list li {
    margin-bottom: 1em;
}

/* Search / Typeahead
************************************/

.tt-query {
    font-family: sans-serif;
    width: 1px;
    border: 0;
    margin: 0;
    padding: 0;
    margin-right: 5px;
    background-color: #fff;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    -ms-transition: all 0.2s;
    transition: all 0.2s;
}
.tt-query:focus {
  width: 125px;
  background-color: #fff;
}

.tt-hint {
  display: none;
}

.tt-dropdown-menu {
  width: 100%;
  font-size: 14px;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
     -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
          box-shadow: 0 5px 10px rgba(0,0,0,.2);
  color: #444444;
}
.tt-suggestion {
  padding: 5px;
}
.tt-suggestion p {
  margin: 0;
}
.tt-suggestion.tt-is-under-cursor {
  color: #fff;
  background-color: #0097cf;
}
.post-date {
  color: #aaa;
  font-size: 12px;
}
.tt-is-under-cursor .post-date {
  color: #fff;
  font-size: 12px;
}



/* Media Queries
************************************/
@media only screen and (max-width: 1280px) {
    .header,
    .content,
    .footer {
        width: 85%;
    }
}
@media only screen and (max-width: 1080px) {
    .header,
    .content,
    .footer {
        width: 95%;
    }
}
@media only screen and (max-width: 960px) {
    .header,
    .content,
    .footer {
        width: 100%;
    }
}
@media only screen and (max-width: 720px) {
    nav li {
        width: 49%;
        margin: 0;
    }
}
@media only screen and (max-width: 640px) {
    header, main, footer {
        width: 90%;
    }
}
@media only screen and (max-width: 600px) {
    h1 {
        font-size: 3em;
        letter-spacing: -2px;
    }
}
@media only screen and (max-width: 490px) {
    header, main, footer {
        width: 90%;
    }
}
@media only screen and (max-width: 430px) {
    header, main, footer {
        width: 99%;
    }
    .header {
        margin-top: 5px;
    }
    .footer {
        margin-bottom: 5px;
    }
}
@media only screen and (max-width: 390px) {
    .header,.content,.footer {
        padding-left: 1em;
        padding-right: 1em;
    }
    h1 {
        font-size: 2.5em;
        letter-spacing: -2px;
    }
}
@media only screen and (max-width: 360px) {
    nav li {
        display: block;
        width: 100%;
        margin: 0;
    }
}
