@media (max-width: 400px) {
    nav {
        text-align: center;
        a[title="home"],
        a[title="humans"] {
            display: none;
        }
    }
    .skull, .no-skull, .skull-404 {
        width: 450px;
        max-width: 90%;
        display: block;
        position: relative;
        top: initial;
        left: initial;
        transform: initial;
        margin: 1em auto;
    }
}
