{% extends 'default.html' %}
{% set title = 'not found' %}
{% set page = 'notfound' %}

{% block body %}
<div class="skull-404">
     ░█▒ █▓▓██
   █░▒ ▓▒▒█▓▒▓▒
  ▓▒█▓ ▓▓█░▓▓▓██
 ▒░ ▒░▒░░░█▓█▓▓ ░
▓░▒▓█▒▓██▓░▓ ▒░░▒▒
▒ ▒░▒█▒░█ █ ▓█▒█ ▒
▒▓▒▓█▓ ░░▒▓▒█▒██▒█
▓▓▓░   ▒▓▓█   ██▓░
██▒     █░█    ░░▓
░▒░     █░▒    ███
 ▓▒░    ░ ░    █░
 ░▓█░█▓░█ ▒▓▒░▒█░▓
 ██▒█▓▓   ▓▓▓███░
     ░▓█   █▒
   █  ░██░▒▓▒░ ░▒
   ▓ ▒▒▒▓  ▒ ▒ ▒
    ░   404   ▓
    ▒ ▓     ▒ █
    ▒▓▒█▒▓░▒▒░█
     ██░▒▒▒▒▓
      ██▓██░
</div>
{% endblock %}
