{% extends 'default.html' %}
{% set page = 'home' %}

{% block body %}
<div class="skull"></div>
<div class="no-skull">
    Hi. I'm Dan Reeves, lead developer at <a href="http://fffunction.co">fffunction</a>, a user-centred design agency. I love writing <a href="https://www.npmjs.com/~danreeves">JavaScript</a> and Python. My other passion is <a href="https://keeptrackofmygames.com/users/danreeves/lists/playing?display=Grid">playing</a>, making, and talking video games. I also co-organise <a href="http://join.cornwallgeeks.net/">Cornwall Geeks</a>.
</div>
{% endblock %}
