<!DOCTYPE html>
<html>
<head>
    <title></title>
    <style>
      body {
        background: black;
      }
      path,
      line {
        fill: none;
        stroke: gold;
        stroke-opacity: .35;
        fill-opacity: .35;
        stroke-width: 6px;
        shape-rendering: crispEdges;
      }
      .dot {
        stroke: gold;
        fill: black;
        stroke-opacity: .9;
        fill-opacity: .9;
      }
    </style>
</head>
<body>
    <script src="/assets/js/kernow.bundle.js"></script>
</body>
</html>
