    <footer>
        <div class="content">
            <span class="copyright">Copyright&nbsp;&copy;&nbsp;2013&nbsp;Dan&nbsp;Reeves.</span>
        </div>
    </footer>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="/all.js"></script>
{% raw %}
<script>
    window.fitText( document.getElementById('h1'), 2, {maxFontSize: 48, minFontSize: 32} );
    hljs.initHighlightingOnLoad();
    $('#search-label').append('<input type="search" id="search"><i class="icon icon-search"></i>Search');
    var search = $('#search').typeahead({
        prefetch: '/search.json',
        template: [
            '<p class="post-name">{{name}}</p>',
            '<p class="post-date">{{date}}</p>'
            ].join(''),
        engine: Hogan
    });
    search.on('typeahead:selected', function (evt, data) {
        window.location = data.url;
    });
    $.ajax({
        url: 'https://api.github.com/zen',
        success: function (data) {
            $('footer .content').append('<span class="zen">' + data + '</span>');
        }
    });
    (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
    function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
    e=o.createElement(i);r=o.getElementsByTagName(i)[0];
    e.src='//www.google-analytics.com/analytics.js';
    r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
    ga('create','UA-35945795-1');ga('send','pageview');
</script>
{% endraw %}
</body>
</html>
