<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>{% if page.title %}{{ page.title }} | {% endif %} Dan Reeves</title>
    <meta name="description" content="Hey! I'm Dan Reeves, a web developer &amp; hacker." />
    <meta name="robots" content="index, follow" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

<!--[if lt IE 9]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js"></script>
<![endif]-->

    <link rel="stylesheet" href="/assets/css/all.css" type="text/css" />
    <link href='http://fonts.googleapis.com/css?family=Roboto:900,300,300italic' rel='stylesheet' type='text/css' />
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" type="text/css" />
</head>
<body>

    <header>
        <div class="header">
            <h1 id="h1"><a href="/">Things by Dan Reeves</a></h1>
            <nav>
                <ul>
                    <!-- <li><a href="/" title="Go to the homepage"><i class="icon icon-home"></i>Home</a></li> -->
                    <li><a href="https://github.com/DanReeves" title="My GitHub"><i class="icon icon-github"></i>GitHub</a></li>
                    <li><a href="https://twitter.com/HeyDanReeves" title="My Twitter"><i class="icon icon-twitter"></i>@HeyDanReeves</a></li>
                    <li><a href="mailto:hey@danreev.es" title="Email me"><i class="icon icon-envelope-alt"></i>hey@danreev.es</a></li>
                    <li><label id="search-label" for="search"></label></li>
                </ul>
            </nav>
        </div>
    </header>
