<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>{% if page.title %}{{ page.title }} | {% endif %}Dan Reeves</title>
    <meta name="robots" content="index, follow" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="alternate" type="application/rss+xml" href="{{ site.url }}/feed.xml">
    <link rel="stylesheet" href="/assets/css/all.css" type="text/css" />
    <link href='http://fonts.googleapis.com/css?family=Lora:400,700,400italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
</head>
<body>

    <header>
        <div class="header">
            <h1 id="h1"><a href="/">Dan Reeves</a></h1>
            <img class="avatar" src="https://secure.gravatar.com/avatar/fa5ee53a12b5152fe8ae6cd7a77b3d0c.jpg?r=g&s=256&d=identicon" alt="">
            <p>I'm <strong>Dan Reeves</strong>, a <a href="http://github.com/danreeves">developer</a> <span class="amp">&amp;</span> a <a href="http://steamcommunity.com/id/danreeves">gamer</a>. I work at <a href="http://fffunction.co"><em>fffunction</em></a>, where I specialise in <a href="https://www.npmjs.com/~danreeves">JavaScript</a> and full-stack development. In my free time I like to <a href="/games">make games</a> and watch <a href="https://hummingbird.me/users/danreeves">anime</a>. This is my blog.</p>
            <nav>
                <ul>
                    <li><a href="https://github.com/DanReeves" title="My GitHub"><i class="fa fa-github"></i>GitHub</a></li>
                    <li><a href="https://twitter.com/HeyDanReeves" title="My Twitter"><i class="fa fa-twitter"></i>Twitter</a></li>
                    <li><a href="mailto:hey@danreev.es" title="Email me"><i class="fa fa-envelope"></i>hey@danreev.es</a></li>
                    <li><a href="/projects"><i class="fa fa-star"></i>Projects</a></li>
                    <li><a href="/games"><i class="fa fa-gamepad"></i>Games</a></li>
                    <li><a href="/links"><i class="fa fa-globe"></i>Links</a></li>
                </ul>
            </nav>
            <hr/>
        </div>
    </header>
