@import url(https://fonts.bunny.net/css?family=biz-udgothic:400,700|rubik-spray-paint:400);

@import "tailwindcss";

@theme {
  --font-title: "Rubik Spray Paint", sans-serif;
  --font-body: "BIZ UDGothic", serif;

  --animate-marquee: marquee 62.5s steps(250, end) infinite;

  --animate-marquee-alt: marquee-alt 62.5s steps(250, end) infinite;

  --animate-scan: scan 1.4s steps(20, end) infinite alternate;

  --animate-blink: blink 1s steps(2, end) infinite;

  --color-black: #2b2b2b;

  @keyframes marquee {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-100%);
    }
  }

  @keyframes marquee-alt {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(0%);
    }
  }

  @keyframes scan {
    0% {
      left: 0%;
    }
    100% {
      left: 100%;
    }
  }

  @keyframes blink {
    0%,
    100% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
  }
}

html,
body {
  -webkit-font-smoothing: none;
  -moz-osx-font-smoothing: auto;
  font-size: 22px;
}
